<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <display-name>Insight Kibana</display-name>

    <servlet>
        <servlet-name>kibana</servlet-name>
        <servlet-class>org.fusesource.insight.kibana.KibanaServlet</servlet-class>
    </servlet>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kibana</servlet-name>
        <url-pattern>/js/timezone.js</url-pattern>
        <url-pattern>/stream</url-pattern>
        <url-pattern>/api/*</url-pattern>
        <url-pattern>/rss/*</url-pattern>
        <url-pattern>/export/*</url-pattern>
        <url-pattern>/turl/*</url-pattern>
    </servlet-mapping>
</web-app>
