@font-face {
    font-family: "FontAwesome";
    src: url('../font/fontawesome-webfont.eot');
    src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

span.dynatree-empty,
span.dynatree-vline,
span.dynatree-connector,
span.dynatree-expander,
span.dynatree-icon,
span.dynatree-checkbox,
span.dynatree-radio,
span.dynatree-drag-helper-img,
#dynatree-drop-marker
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    background-image: none;
    vertical-align: middle;
}

.dynatree-checkbox {
    color: #888888
}

/* Dynatree checkbox */
span.dynatree-checkbox:before
{
    margin-top: 1px;
    background-position: 0 0;
    cursor: pointer;
    content: "";
}

span.dynatree-checkbox:before:hover
{
    background-position: 0 0;
    content: "";
}

.dynatree-selected span.dynatree-checkbox:before
{
    margin-top: 1px;
    background-position: 0 0;
    cursor: pointer;
    content: "\f00c";
}

.dynatree-selected span.dynatree-checkbox:before:hover
{
    background-position: 0 0;
    content: "\f00c";
}


.dynatree-expander {
    color: #888888
}

/* Dynatree expander */
span.dynatree-expander:before
{
    margin-top: 1px;
    background-position: 0 0;
    cursor: pointer;
    content: "\f054";
}

span.dynatree-expander:before:hover
{
    background-position: 0 0;
    content: "\f054";
}

.dynatree-exp-e span.dynatree-expander:before,  /* Expanded, not delayed, not last sibling */
.dynatree-exp-ed span.dynatree-expander:before,  /* Expanded, delayed, not last sibling */
.dynatree-exp-el span.dynatree-expander:before,  /* Expanded, not delayed, last sibling */
.dynatree-exp-edl span.dynatree-expander:before  /* Expanded, delayed, last sibling */
{
    background-position: 0 0;
    content: "\f078";
}
.dynatree-exp-e span.dynatree-expander:before:hover,  /* Expanded, not delayed, not last sibling */
.dynatree-exp-ed span.dynatree-expander:before:hover,  /* Expanded, delayed, not last sibling */
.dynatree-exp-el span.dynatree-expander:before:hover,  /* Expanded, not delayed, last sibling */
.dynatree-exp-edl span.dynatree-expander:before:hover  /* Expanded, delayed, last sibling */
{
    background-position: 0 0;
    content: "\f0da";
}

/* closed folder */
.dynatree-ico-cf span.dynatree-icon:before {
    background-position: 0 0;
    content: "\f07b";
}

/* open folder */
.dynatree-ico-ef span.dynatree-icon:before {
    background-position: 0 0;
    content: "\f07c";
}

span.dynatree-icon:before {
    background-position: 0px 0px;
    content: "\f013";
}

span.org-apache-camel a.dynatree-title:before {
    content: "Camel - ";
}

span.org-fusesource-fabric a.dynatree-title:before {
    content: "Fuse Fabric - ";
}

span.org-fusesource-insight a.dynatree-title:before {
    content: "Logs - ";
}


/* org.apache.camel */
span.org-apache-camel span.dynatree-icon:before {
    content: url("../app/camel/img/camel.png");
}

span.org-apache-camel-context-folder span.dynatree-icon:before {
    content: url("../app/camel/img/camel.png");
}
span.org-apache-camel-context span.dynatree-icon:before {
    content: url("../app/camel/img/camel_context_icon.png");
}
span.org-apache-camel-endpoints span.dynatree-icon:before {
    content: url("../app/camel/img/endpoint_node.png");
}
span.org-apache-camel-endpoints-folder span.dynatree-icon:before {
    content: url("../app/camel/img/endpoint_folder.png");
}
span.org-apache-camel-routes span.dynatree-icon:before {
    content: url("../app/camel/img/camel_route.png");
}
span.org-apache-camel-routes-folder span.dynatree-icon:before {
    content: url("../app/camel/img/camel_route_folder.png");
}

/* Camel context */
ul.dynatree-container li ul li ul li span[class*="_context_"] span.dynatree-icon:before {
    content: url("../app/camel/img/camel_context_icon.png");
}

/* Camel endpoints folder */
i.org-apache-camel-endpoints-folder, span.org-apache-camel-endpoints-folder span.dynatree-icon:before {
    content: url("../app/camel/img/endpoint_folder.png");
}

/* Camel endpoints */
i.org-apache-camel-endpoints, span.org-apache-camel-endpoints span.dynatree-icon:before {
    content: url("../app/camel/img/endpoint_node.png");
}

/* Camel File Consumer */
span[class*="_FileConsumer"] span.dynatree-icon:before {
    content: "\f0c5";
}


/* org.apache.activemq */
span.org-apache-activemq span.dynatree-icon:before {
    content: url("../app/activemq/img/message_broker.png");
}

span.org-apache-activemq a.dynatree-title {
}

span.org-apache-activemq a.dynatree-title:before {
    content: "ActiveMQ - ";
}

/* Broker mbean */
span[class*="_Broker"] span.dynatree-icon:before {
    content: url("../app/activemq/img/message_broker.png");
}

span.org-apache-activemq-Broker span.dynatree-icon:before {
    content: url("../app/activemq/img/message_broker.png");
}

/* Connection mbean */
span.org-apache-activemq-Connection span.dynatree-icon:before {
}

/* Client mbean */
span.org-apache-activemq-clientId span.dynatree-icon:before {
}

/* network connector mbean */
span.org-apache-activemq-NC span.dynatree-icon:before {
}

/* Queue mbean */
i.org-apache-activemq-Queue, span.org-apache-activemq-Queue span.dynatree-icon:before {
    content: url("../app/activemq/img/queue.png");
}
i.org-apache-activemq-Queue-folder, span.org-apache-activemq-Queue-folder span.dynatree-icon:before {
    content: url("../app/activemq/img/queue_folder.png");
}

/* Topic mbean */
i.org-apache-activemq-Topic, span.org-apache-activemq-Topic span.dynatree-icon:before {
    content: url("../app/activemq/img/topic.png");
}
i.org-apache-activemq-Topic-folder, span.org-apache-activemq-Topic-folder span.dynatree-icon:before {
    content: url("../app/activemq/img/topic_folder.png");
}



