#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} (%F:%L${symbol_escape}) [%logger{30}] : %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="${package}" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
