-#   Copyright (C) 2010 FuseSource, Corp. All rights reserved.
-#   http://fusesource.com
-#
-#   The software in this package is published under the terms of the AGPL license
-#    a copy of which has been included with this distribution in the license.txt file.

- response.setContentType("text/html") 
-@ var title : String = "Fuse"
-@ var content: String = null
-@ var body: String = null
-@ var overview: String = null
-@ var spot: String = null
-@ var blog: String = null
-@ var head: String = null
- val include_console = engine.isDevelopmentMode && engine.resourceLoader.exists("/org/fusesource/scalate/console/console_head.scaml")
!!! Basic
html(lang="en")
  head
    meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    meta(content="fuse fabric clustering and cloud for Fuse" name="description")
    meta(content="fuse,fabric,cluster,cloud,provision,configure" name="keywords")
    meta(content="Fabric" name="author")
    link(type="text/css" rel="stylesheet" href={uri("/css/bootstrap.css")})
    link(type="text/css" rel="stylesheet" href={uri("/css/bootstrap-responsive.css")})
    link(type="text/css" rel="stylesheet" href={uri("/css/site.css")})
    link(type="text/css" rel="stylesheet" href={uri("/styles/impact/css/pygmentize.css")})
    -#
      link(type="text/css" rel="stylesheet" href={uri("/styles/impact/css/site.css")})

    /[if lt IE 9]
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    - if (head!=null)
      !~~ head

    -#      
      - if (include_console)
        - include("/org/fusesource/scalate/console/console_head.scaml")
        link(href={uri("/styles/scalate/console.css")} rel="stylesheet" type="text/css")
    
    title= title
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          - 
            if (requestUri.startsWith("/bundle"))
              include("/bundle/_navigation.jade")
            else if (requestUri.startsWith("/eca"))
              include("/eca/_navigation.jade")
            else if (requestUri.startsWith("/eip"))
              include("/eip/_navigation.jade")
            else if (requestUri.startsWith("/esb"))
              include("/esb/_navigation.jade")
            else if (requestUri.startsWith("/fabric"))
              include("/fabric/_navigation.jade")
            else if (requestUri.startsWith("/mq"))
              include("/mq/_navigation.jade")
            else
              include("/_navigation.jade")
              
    - if (blog!=null)
      div#blog
        div.wrapper
          !~~ blog
    - if (content!=null)
      !~~ content
    - if (body!=null && content == null)
      .container
        !~~ body
    -#      
      - if (include_console)
        - include("/org/fusesource/scalate/console/console.scaml")
    
    script(type="text/javascript"src={uri("/js/jquery.js")})
    -# 
      script(type="text/javascript"src={uri("/js/bootstrap.js")})
    script(type="text/javascript"src={uri("/js/bootstrap-transition.js")})    
    -# 
      script(type="text/javascript"src={uri("/js/bootstrap-alert.js")})    
      script(type="text/javascript"src={uri("/js/bootstrap-modal.js")})    
    script(type="text/javascript"src={uri("/js/bootstrap-dropdown.js")})    
    script(type="text/javascript"src={uri("/js/bootstrap-scrollspy.js")})    
    script(type="text/javascript"src={uri("/js/bootstrap-tab.js")})    
    script(type="text/javascript"src={uri("/js/bootstrap-tooltip.js")})    
    script(type="text/javascript"src={uri("/js/bootstrap-popover.js")})    
    script(type="text/javascript"src={uri("/js/bootstrap-button.js")})    
    script(type="text/javascript"src={uri("/js/bootstrap-collapse.js")})    
    script(type="text/javascript"src={uri("/js/bootstrap-carousel.js")})    
    script(type="text/javascript"src={uri("/js/bootstrap-typeahead.js")})    

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
      var pageTracker = _gat._getTracker("UA-1347593-12");
      pageTracker._trackPageview();
      } catch(err) {}