// ---------------------------------------------------------------------------
// Copyright (C) 2010-2012, FuseSource Corp.  All rights reserved.
// 
//     http://fusesource.com
// 
// The software in this package is published under the terms of the
// CDDL license a copy of which has been included with this distribution
// in the license.txt file.
// ---------------------------------------------------------------------------
MqttSecurityTest {

  org.apache.activemq.apollo.broker.security.FileUserLoginModule optional
    file="users.properties";

  //
  // For testing purposes, we do a funny thing where we set the user
  // file to also be used as the groups file.  This only works for the
  // test since  user==password==group for our tests.
  //
  org.apache.activemq.apollo.broker.security.FileGroupLoginModule optional
    file="users.properties";

};

MqttSslSecurityTest {
  org.apache.activemq.apollo.broker.security.CertificateLoginModule optional;

  org.apache.activemq.apollo.broker.security.FileGroupLoginModule optional
    match="javax.security.auth.x500.X500Principal"
    file="users.properties";

};