<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2010-2011, FuseSource Corp.  All rights reserved.

        http://fusesource.com

    The software in this package is published under the terms of the
    CDDL license a copy of which has been included with this distribution
    in the license.txt file.

-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

  <display-name>Fuse Fabric</display-name>

  <description>
    Fuse Fabric
  </description>

  <filter>
    <filter-name>TemplateEngineFilter</filter-name>
    <filter-class>org.fusesource.scalate.servlet.TemplateEngineFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TemplateEngineFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.page</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/scalate/errors/500.scaml</location>
  </error-page>
</web-app>
