a.brand(href={uri("/bundle/index")}) Fuse Bundles
ul.nav
  li
    a(href={uri("/bundle/faq.html")}) FAQ
  li
    a(href={uri("/bundle/overview.html")}) Overview
  li
    a(href={uri("/bundle/background.html")}) Background
  li
    a(href={uri("../presentations.html")}) Presentations
- include("/_projects.jade")