- ###

 Copyright 2010 Red Hat, Inc.

 Red Hat licenses this file to you under the Apache License, version
 2.0 (the "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 implied.  See the License for the specific language governing
 permissions and limitations under the License.

- ###
.row
  .span8
    form
      legend
      .clearfix#new-username
        label(for="new-username") Username:
        .input
          input(name="new-username" type="text")
          span.help-block#new-username-help
      .clearfix#password
        label(for="password") Password:
        .input
          input(name="password" type="password")
          span.help-block#password-help
      .clearfix#zk-password
        label(for="zk-password") ZooKeeper Password:
        .input
          input(name="zk-password" type="password")
          span.help-block#zk-password-help Leave blank to use a generated password
      .clearfix#role
        label(for="role") Role:
        .input
          input(name="role" type="text" value="admin")
          span.help-block#role-help
      .clearfix#global-resolver
        label(for="global-resolver") Global Resolver:
        .input
          select(name="global-resolver")
            option(value="localhostname") Local Hostname
            option(value="localip") Local IP
            option(vlaue="publichostname") Public Hostname
            option(value="publicip") Public IP
          span.help-block#global-resolver-help
      .clearfix#local-resolver
        label(for="local-resolver") Local Resolver:
        .input
          select(name="local-resolver")
            option(value="localhostname") Local Hostname
            option(value="localip") Local IP
            option(value="publichostname") Public Hostname
            option(value="publicip") Public IP
            option(value="manualip") Custom...
          span.help-block#local-resolver-help
      .clearfix#manualip-val.hide
        label(for="manualip-val") IP or Hostname:
        .input
          | <input name="manualip-val" type="text" class="hardware-id">
          span.help-block#manualip-val-help
      .clearfix#max-port
        label(for="max-port") Maximum Port Value:
        .input
          input(name="max-port" type="text" value="0")
          span.help-block#max-port-help
      .clearfix#min-port
        label(for="min-port") Minimum Port Value:
        .input
          input(name="min-port" type="text" value="0")
          span.help-block#min-port-help

.row
  .span8
    .block.left
    .block.right
      a.back.btn(href="#") Cancel
      a.create.btn.disabled(href="#") Create
