DirectoryIndex index.html

RewriteEngine On
RewriteCond %{REQUEST_URI}  ^/#/site/book/doc/index\.md$
RewriteCond %{QUERY_STRING} ^chapter=(.+)_md$
RewriteRule ^(.*)$ ttp://fabric8.io/gitbook/%1.html [R=302,L]
