a.brand(href={uri("/")}) Red Hat JBoss Fuse
ul.nav
  li
    a(href={uri("http://fusesource.com/resources/combined-blogs/")}) Blog
  li
    a(href={uri("/source.html")}) Source
  li
    a(href={uri("/presentations.html")}) Presentations
  li
    a(href={uri("/community.html")}) Community
  li
    a(href={uri("http://fusesource.com/enterprise-support/support-offerings/")}) Support
-#
  form.pull-left(action="")
    input(type="text" placeholder="Search")
- include("/_projects.jade")