a.brand(href={uri("/")}) DevZone
ul.nav
  li
    a(href={uri("/blog/index")}) Blog
  li
    a(href={uri("/source.html")}) Source
  li
    a(href={uri("/community.html")}) Community
  li
    a(href={uri("http://fusesource.com/enterprise-support/support-offerings/")}) Support
-#
  form.pull-left(action="")
    input(type="text" placeholder="Search")
- include("/_projects.jade")