ul.nav.secondary-nav
  li.dropdown
    a.dropdown-toggle(href="#" title="Fuse Open Source Projects") Projects
    ul.dropdown-menu
      li
        a(href={uri("/bundle/index")} title="Easy packaging of your applications on OSGi") Fuse Bundles
      li
        a(href={uri("/fabric/index")} title="Fuse clustering and cloud") Fuse Fabric
      li.divider
      li
        a(href="http://fusesource.com/" title="FuseSource, Corp. Integration Everywhere") FuseSource
      -#
        li
          a(href={uri("/bundle/index")} title="Easy packaging of your applications on OSGi") Fuse Bundles
        li
          a(href={uri("/eca/index")} title="Event Condition Action Framework") Fuse ECA
        li
          a(href={uri("/eip/index")} title="Fuse Enteprise Integation Patterns including Apache Camel") Fuse EIP
        li
          a(href={uri("/esb/index")} title="Fuse Enterprise Service Bus") Fuse ESB
        li
          a(href={uri("/fabric/index")} title="Fuse clustering and cloud") Fuse Fabric
        li
          a(href={uri("/mq/index")} title="Fuse Message Queue") Fuse MQ
        li.divider
        li
          -# a(href={uri("/index")} title="Fuse Stack") Fuse
        
