.btn-group.pull-right
  a.btn.dropdown-toggle.btn-inverse(href="#" data-toggle="dropdown") 
    | Projects
    span.caret
  ul.dropdown-menu
    li
      a(href={uri("/index")} title="Fuse Developer Zone") DevZone
    li.divider
    li
      a(href={uri("/bundle/index")} title="Easy packaging of your applications on OSGi") Fuse Bundles
    li
      a(href={uri("/eip/index")} title="Fuse Enterprise Integration Patterns") Fuse EIP
    li
      a(href={uri("http://fusesource.com/products/fuse-esb-enterprise/")} title="Fuse Enterprise Service Bus") Fuse ESB
    li
      a(href={uri("/fabric/index")} title="Open Source Integration Cloud") Fuse Fabric
    li
      a(href={uri("/mq/index")} title="Open Source Messaging Cloud") Fuse MQ
    li.divider
    li
      a(href={uri("http://fusesource.com/products/fuse-ide/")} title="Eclipse based developer tooling for Fuse") Fuse IDE
    li
      a(href={uri("http://fusesource.com/products/fuse-management-console/")} title="Web based operational management tooling for Fuse") Fuse MC
    li
      a(href={uri("http://fusesource.com/products/fuse-hq/")} title="Web based operational monitoring tooling for Fuse") Fuse HQ
    li.divider
    li
      a(href={uri("/presentations")} title="Presentations, Webinars, Articles and Blogs") Presentations
    li
      a(href="http://jboss.org/" title="JBoss") JBoss
      
      
      
    -#
      li
        a(href={uri("/eip/index")} title="Fuse Enteprise Integation Patterns including Apache Camel") Fuse EIP
      li
        a(href={uri("/esb/index")} title="Fuse Enterprise Service Bus") Fuse ESB
      li
        a(href={uri("/fabric/index")} title="Fuse clustering and cloud") Fuse Fabric
      li
        a(href={uri("/mq/index")} title="Fuse Message Queue") Fuse MQ
      li.divider
      li
        -# a(href={uri("/index")} title="Fuse Stack") Fuse
      
