ul.nav.secondary-nav
  li.dropdown
    a.dropdown-toggle(href="#" title="Fuse Open Source Projects") Projects
    ul.dropdown-menu
      li
        a(href={uri("/esb/index")} title="Fuse Enterprise Service Bus") Fuse ESB
      li
        a(href={uri("/fabric/index")} title="Fuse clustering and cloud") Fuse Fabric
      li
        a(href={uri("/mq/index")} title="Fuse Message Queue") Fuse MQ
