h1 Projects

p
  :markdown
    TODO - add a search form here!!!

h2 Samples

h3 Projects

ul
  li
    p
      | ActiveMQ
      ul
        li
          a(href="projects/project/org.apache.activemq/activemq-core/jar//5.4.1") activemq-core 5.4.1
        li
          a(href="projects/project/org.apache.activemq/activemq-camel/jar//5.4.1") activemq-camel 5.4.1

    p
      | Camel
      ul
        li
          a(href="projects/project/org.apache.camel/camel-core/jar//2.5.0") camel-core 2.5.0
        li
          a(href="projects/project/org.apache.camel/camel-spring/jar//2.5.0") camel-spring 2.5.0

    p
      | Rider
      ul
        li
          a(href="projects/project/org.fusesource.rider/rider-overlay/war//1.0.0.SNAPSHOT") rider-overlay 1.0.0.SNAPSHOT
        li
          a(href="projects/project/org.fusesource.rider/eclipse-tooling/pom//1.0.0.SNAPSHOT") eclipse-tooling 1.0.0.SNAPSHOT

h3 Compare Projects


ul
  li
    p
      | ActiveMQ
      ul
        li
          a(href="projects/compare/org.apache.activemq/activemq-core/jar//5.4.0/5.4.1") activemq-core 5.4.0 -> 5.4.1
        li
          a(href="projects/compare/org.apache.activemq/activemq-camel/jar//5.4.0/5.4.1") activemq-camel 5.4.0 -> 5.4.1
  li
    p
      | Camel
      ul
        li
          a(href="projects/compare/org.apache.camel/camel-core/jar//2.4.0/2.5.0") camel-core 2.4.0 -> 2.5.0
        li
          a(href="projects/compare/org.apache.camel/camel-spring/jar//2.4.0/2.5.0") camel-spring 2.4.0 -> 2.5.0