.needsjavascript {
	display: none;
}

a:link {
	color: #3333CC;
	text-decoration: none;
}

a:visited {
	color: #3333CC;
	text-decoration: none;
}

a.dotted {
	color: #3333CC;
	text-decoration: none;
	border-bottom: 1px dotted #000;  
}

a.currentlink {
	color: #5A7800;
}

a:hover.currentlink {
	color: #88B400;
}

div.toc a:visited {
  outline: none;
}

body, div, td, th, form {
	font-family: Calibri, Verdana, Helvetica, sans-serif;
	font-size: 12pt;
}

p {
	font-family: Calibri, Verdana, Helvetica, sans-serif;
	font-size: 12pt;
    clear: bottom;
	padding-top: 2px;
}

p.timestamp {
	font-size: 70%;
	text-align: right;
}

div.footnote p {
	font-size: 9pt;
	margin-top: -1ex;  
}

hr.footnote {
	height: 0px;
	border: 0px;
	border-top: 1px solid #000066;
	margin: 0.5em 65% 0.5em 0;
}

code.sgmltag-attribute, code.sgmltag-genentity, code.sgmltag-element, code.sgml-emptytag, code.sgmltag-prefix, 
code.sgmltag-localname, code.sgmltag-namespace, code.function, code.type, code.exceptionname, em.parameter, 
code.varname, code.interfacename, code.oointerface, code.classname, code.ooclass, code.methodname, code.coexception, 
code.computeroutput, code.command, code.option, code.filename, code.literal, code.uri , code.envar, code.code,
code.methodsynopsis, pre.classsynopsis, code.constant, span.type , span.markup, 
span.package, div.cmdsynopsis {
	background-color: transparent;
	color: #990033;
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 9pt;
}


code.sgmltag-attvalue, em.replaceable {
	background-color: transparent;
	color: #990033;
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 9pt;
	font-style: italic;
}

div.abstract {
	background-color: #FFFFFF;
	color: #000000; 
	padding-left: 10pt;
	padding-right: 10pt;
	padding-bottom: 0;
	padding-top: 0;
	left: -2px;
	position: relative;
	top: -2px;
}

div.abstract p.title {
	margin-bottom: -2ex;
}

div.abstract p {
	font-style: italic;
	padding-bottom: 0;
	padding-top: 0;
}

div.navheader {
	background-color: #be1e2d; 
	border-bottom: 1px solid #393939;
	padding-bottom: 0.5ex;
	margin-top: 2px;
	top: 60px;
	width: 100%;
	position: fixed;
	z-index: 2000;
}

div.fusenavheader {
	background-color: #be1e2d;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	width: 100%;
	position:fixed;
	z-index: 2000;
}

div.navfooter {
	background: none; 
	border-top: 1px solid #393939;
	margin-top: 2ex;
	padding-top: 1ex;
}

div.caution, div.note, div.important, div.tip, div.warning {
	background-color: #EEEEEE;
	border: none;
	color: #000000;
	font-style: italic;
	margin-left: 10%;
	width: 80%;
}

img {
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

h1 {	
	color: #636363;
	font-size: 150%;
	font-weight: normal;
	margin-top: 0;
}

/* h1.title applies to the book title on the cover page
    and part titles */
h1.title {
	background: none;
	border: none;
	color: #808080;
	font-variant: small-caps;
	font-size: 190%;
	font-weight: bold;
}

/* h2.title applies only to the book subtitle on the cover page */
h2.subtitle {
	font-weight:normal;
	font-size:140%;
	line-height:140%;
	color:#28458E;
	margin-bottom:0.5ex;  
}

/* h2 applies to chapter headings only */
h2 {
	font-weight:normal;
	font-size:210%;
	line-height:130%;
	vertical-align:top;
	color:#808080;
	margin-top:1ex;
	margin-bottom:0.5ex;
}

div.titlepage span.productname {
	font-weight:normal;
	font-size:210%;
	vertical-align:top;
	color:#808080;
}

/* div.section h2 applies to first-level sections in a chapter */
div.section h2 {
	font-size:170%;
	vertical-align:top;
	color:#808080;
	margin-top:1ex;
	margin-bottom:0.5ex;
	font-weight:normal;
}

h3, div.section h3 {
	font-weight:normal;
	font-size:140%;
	vertical-align:top;
	color:#808080;
	margin-top:1ex;
	margin-bottom:0.5ex;
}

div.section h4 {
	font-weight:bold;
	font-size:120%;
	vertical-align:top;
	color:#808080;
	margin-top:1ex;
	margin-bottom:0.5ex;
}

div.section h5 {
	font-weight:bold;
	font-size:110%;
	vertical-align:top;
	color:#808080;
	margin-top:1ex;
	margin-bottom:0.5ex;
}

div.simplesect {
	margin-top: 1ex;
}

div.simplesect h2, div.simplesect h3, div.simplesect h4, 
div.simplesect h5, div.simplesect h6, div.simplesect h1 {
    float: left;
	clear: left;
	background-color: #CCCCCC;
	color: #000000;
	font-size: 100%;
	font-weight: bold;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 10px;
	margin-top: 2px;
	margin-bottom: 3px;
	margin-right: 8px;}

div.itemizedlist ul.li {
	list-style: square;
}

p.tablenote {
	background-color: #EEEEEE;
	border: thin solid #000000;
	color: #000000;
	margin-left: 2%;
	margin-right: 2%;
	width: 95%;
}

pre.programlisting, pre.screen {
	background-color: #F0F0F0;
	border-bottom: none;
	color: #990033;
	font-size: 9pt;
	padding-left: 10pt;
	padding-right: 10pt;
}

span.olinkdocname {
	font-style: italic;
}

strong.command, strong.userinput {
	background-color: transparent;
	color: #990033;
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 9pt;
}

div.section th, div.informaltable th,
div.table-contents th {
	background-color: #EEEEEE;
	color: #003366;
}

th, div.note th, div.important th, div.tip th, 
div.warning th, div.caution th {
	background-color: transparent;
	color: #003366; 
}

div.table p.title, div.example p.title, div.figure p.title {
	font-style: italic;
	font-size: 80%;
}

div.section table, div.informaltable table,
div.table-contents table {
	border-collapse: collapse;
	border-top: 1pt solid;
	border-bottom: 1pt solid;
	border-left: 1pt solid;
	border-right: 1pt solid;	
}

div.section th, div.section td,
div.informaltable th, div.informaltable td {
	border-right: 1pt solid;
	border-bottom: 1pt solid;
}

div.calloutlist table, div.calloutlist th, 
div.calloutlist td {
	border: none;
}

div.note table, div.note th, div.note td,
div.important table, div.important th, div.important td,
div.tip table, div.tip th, div.tip td,
div.warning table, div.warning th, div.warning td,
div.caution table, div.caution th, div.caution td,
div.figure table, div.figure th, div.figure td,
div.figure-contents table, div.figure-contents th, div.figure-contents td,
div.mediaobject table, div.mediaobject th, div.mediaobject td {
	border: none;
}

span.guibutton, span.guilabel, span.guimenu, span.guisubmenu, 
span.guimenuitem { 
	color: #000033;
	font-weight: bold;
}

span.property {
    background-color: transparent;
	color: #990033;
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 9pt;
}

/* Styles for cover page items */
p.pubdate {
	font-size: x-small;
	font-weight: bold;
}

p.releaseinfo {
	font-size: 105%;
	margin-bottom: -0.50ex;
}

span.date {
	font-size: 105%;
}

/* For entries in the left-column TOC */
div.ListofTitles {
	font-size: 9pt;
	margin-top: 3px;
}

div.toc {
	font-size: 9pt;
	line-height: 10pt;
}

div.toc p {
	margin-bottom: 2ex;
}

div.toc dl {
	margin-top: 0px;
	font-size: 9pt;	
}

div.toc dl dt {
	margin-top: 2px;
}

div.toc dl dd dl dt {
	margin-top: 0px;
}

div.ListofTitles a {
	padding-left: 0px;
}

div.toc dl dt span a {
	padding-left: 0px;
}

div.toc dl dd dl dt span a {
	margin-left: -2em;
}

div.toc dl dd dl dd dl dt span a {
	margin-left: -3em;
}

div.toc dl dt span code.sgml-element {
	font-size: 8pt;
}

div.toc dl dd dl dt span code.sgml-element {
	font-size: 8pt;
}

div.toc dl dd dl dd dl dt span code.sgml-element {
	font-size: 8pt;
}

dt {
	font-weight:normal;
	font-size:110%;
	vertical-align:top;
	color:#333333;
	margin-top:1ex;
	margin-bottom:0.5ex;
}

/* WebHelp Specific Mods from DocBook XSLT 
   webhelp/template/common/poistioning.css */
#content {
    position: relative;
    top: 90px; /* left: 240px;*/
    right: auto; /*  bottom: 20px;  */
    margin: 0px 0px 0px 280px;
    width: auto;
    height: inherit;
    padding-left: 5px;
    padding-right: 30px;
    color: #000000;
    /*border-left: 2px solid #cccccc; overflow :scroll;*/
    z-index: 1000;

    max-width: 70em;
    min-width:800px;
}

#leftnavigation {
/* background-color:#91e7b3;*/
    overflow: auto;
    position: fixed;
    height: auto;
    top: 90px;
    bottom: 0;
    left: 0;
    width: 280px;
    z-index: 1500;
    border-right:2px solid #CCCCCC;
}

@media print {

div.navfooter, div.navheader, div.fusenavheader, #leftnavigation {
	display: none;
	}

h1, h2 {
	border: none;
	}
}
