h1, h2, h3, h4, h5, h6 {
    color: #993333;
}

a {
	color: #990000;
}

a:hover { 
	color: #ff3333; 
	}


.toctree-wrapper {
  text-align: center;
}

.hero-unit ul {
  list-style: disc;
}

.hero-unit li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.hero-unit li {
  text-align: -webkit-match-parent;
}

.hero-unit li a {
}


.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.masthead img {
  text-align: center;
}

.masthead p.summary {
  font-size: 16px;
}

body {
  padding-top: 60px;
}

.row-fluid [class*="span"] {
  padding-bottom: 10px;
}  

.row-fluid [class*="span"] {
}  

.row-fluid p {
    margin-top: 10px;
}  

