-# Copyright (C) 2010-2011, FuseSource Corp.  All rights reserved.
-#
-#     http://fusesource.com
-#
-# The software in this package is published under the terms of the
-# CDDL license a copy of which has been included with this distribution
-# in the license.txt file.
!!! Basic
-@ var body: String
-@ var title : String = "Fabric Launcher Web Console"
- response.setContentType("text/html") 
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="description" content="Fabric Launcher Web Console")
    meta(name="keywords" content="Fabric,Launcher,Console")
    meta(name="author" content="Fusesource Corp.")

    / = include("/org/fusesource/scalate/console/console_head.scaml")

    link(href={uri("/css/style.css")} rel="stylesheet" type="text/css")
    / link(href={uri("/css/scalate/console.css")} rel="stylesheet" type="text/css")
    title
      = title
  
  body
    #navigation
      .wrapper
        ul
          li
            -# - if (requestURI.startsWith("/index."))
            -#   span Home
            -# - else
            a(href={uri("/index.scaml")}) Home

    #content
      .wrapper
        !~~ body
    
    #footer
      .wrapper
