#
#  Copyright 2005-2015 Red Hat, Inc.
#
#  Red Hat licenses this file to you under the Apache License, version
#  2.0 (the "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
#  implied.  See the License for the specific language governing
#  permissions and limitations under the License.
#

# how frequently in milliseconds should we push to the master git repo
# using a background job that checks for any manual changes in the local
# git reposiroy that users may push outside from fabric itself.
gitRemotePollInterval = 60000

# example of configuring an extenral git repository (a non fabric managed).
#gitRemoteUrl=https://github.com/<some user>/<some repo>.git
#gitRemoteUser=<some user>
#gitRemotePassword=<some password>
