<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	      http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	      version="2.4">

  <description>fabric8 kubernetes support</description>
  <display-name>fabric8 kubernetes support</display-name>

  <listener>
    <listener-class>io.hawt.blueprint.HawtioBlueprintContextListener</listener-class>
  </listener>

  <context-param>
    <param-name>blueprintProperties</param-name>
    <param-value>blueprint.properties</param-value>
  </context-param>
  <context-param>
    <param-name>blueprintLocation</param-name>
    <param-value>OSGI-INF/blueprint/blueprint.xml</param-value>
  </context-param>

</web-app>
