<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.fusesource.fabric.git">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="fabric-git-@project.version@.jar"/>
    </resources>

    <exports>
        <include path="no-public-api"/>
    </exports>
    
    <dependencies>
        <module name="com.google.guava"/>
        <module name="org.fusesource.fabric.api"/>
        <module name="org.fusesource.fabric.core"/>
        <module name="org.fusesource.fabric.groups"/>
        <module name="org.fusesource.fabric.zookeeper"/>
        <module name="org.osgi.enterprise"/>
        <module name="org.osgi.core"/>
        <module name="org.slf4j"/>
    </dependencies>

</module>
