<div ng-controller="JVM.ConnectController">

  <div>
    <ul class="nav nav-tabs connected">
      <li ng-repeat="link in breadcrumbs" ng-show="isValid(link)" ng-class='{active : isActive(link.href)}'>
        <a ng-href="{{link.href}}{{hash}}" ng-bind-html-unsafe="link.content"></a>
      </li>
      <li class="pull-right">
        <a href='' ng-click="fetch()"><i class="icon-refresh"></i> Refresh</a>
      </li>
    </ul>
  </div>

  <div class="row-fluid connect-column-container" hawtio-auto-columns=".connect-column">

    <div class="connect-column">
      <div class="alert alert-info">
        <p>
          This page allows you to connect to remote processes which <strong>already have a <a
                href="http://jolokia.org/">jolokia agent</a> running inside them</strong>. You will need to know the
          host name, port and path of the jolokia agent to be able to connect.
        </p>

        <p>
          If the process you wish to connect to does not have a jolokia agent inside, please refer to the <a
                href="http://jolokia.org/agent.html">jolokia documentation</a> for how to add a JVM, servlet or OSGI
          based agent inside it.
        </p>

        <p>
          If you are using <a href="http://www.jboss.org/products/fuse">JBoss Fuse</a>; then a jolokia agent is
          included by default. Or you can always just deploy hawtio inside the process (which includes the jolokia
          agent).
        </p>

        <p ng-show="hasLocalMBean()">
          Use the <strong><a href="#/jvm/local">Local Tab</a></strong> to connect to processes locally on this machine (which will install a jolokia agent automatically if required).
        </p>

        <p ng-show="!hasLocalMBean()">
          The <strong>Local Tab</strong> is not currently enabled because either the server side <strong>hawtio-local-jvm-mbean plugin</strong> is not installed or this
          JVM cannot find the <strong>com.sun.tools.attach.VirtualMachine</strong> API usually found in the <strong>tool.jar</strong>.
          Please see the <a href="http://hawt.io/faq/index.html">FAQ entry</a> for more details.
        </p>
      </div>
    </div>

    <div class="connect-column">

      <dl>
        <dt>Saved Connections</dt>
        <dd>
          <form class="form-horizontal no-bottom-margin">
            <fieldset>
              <div class="control-group">
                <label class="control-label">Connections: </label>
                <div class="controls">
                  <select ng-model="settings.lastConnection"
                          ng-options="value.connectionName as key for (key, value) in connectionConfigs">
                    <option value=""
                            ng-hide="settings.lastConnection">New Connection...</option>
                  </select>
                  <button class="btn btn-success"
                          title="Connect to this server"
                          ng-disabled="!settings.lastConnection"
                          ng-click="gotoServer()"><i class="icon-share"></i></button>
                  <button class="btn btn-danger"
                          title="Delete this connection"
                          ng-disabled="!settings.lastConnection"
                          ng-click="deleteConnection()"><i class="icon-minus"></i></button>
                  <button class="btn btn-primary"
                          title="Create a new connection"
                          ng-disabled="!settings.lastConnection"
                          ng-click="newConnection()"><i class="icon-plus"></i></button>
                </div>
              </div>
            </fieldset>
          </form>
        </dd>
      </dl>

      <dl>
        <dt>Connection Settings</dt>
        <dd>
          <div simple-form name="connectForm" data="formConfig" entity="currentConfig" onSubmit="gotoServer()"></div>

          <div class="centered">
            <button class="btn btn-primary"
                    ng-disabled="!forms.connectForm.$valid"
                    hawtio-submit="connectForm"
                    title="Saves the connection and opens a new browser window connecting to the given JVM process via its Jolokia servlet URL">Connect To Remote Server</button>
            <button class="btn"
                    title="Save this configuration but don't open a new tab"
                    ng-disabled="!forms.connectForm.$valid"
                    ng-click="save()">Save</button>
          </div>
        </dd>
      </dl>

      <dl>
        <dt class="alert alert-danger">Danger Zone</dt>
        <dd>
          <div class="control-group">
            <label class="control-label">I want to clear my connection settings and I understand this can't be undone...</label>
            <div class="controls">
              <input type="checkbox" ng-model="canClearSettings">
            </div>
          </div>
          <button class="btn btn-danger"
                  ng-disabled="!canClearSettings"
                  ng-click="clearSettings()"
                  title="Clear all stored connection settings">Wipe Connection Settings</button>
        </dd>
      </dl>

    </div>


  </div>

</div>
