<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="io.fabric8.zookeeper">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="fabric-zookeeper-@project.version@.jar"/>
    </resources>

    <exports>
        <exclude path="org/apache/felix/utils/**"/>
        <exclude path="io/fabric8/zookeeper/internal"/>
    </exports>

    <dependencies>
        <module name="javax.api"/>
        <module name="com.google.guava"/>
        <module name="org.apache.log4j"/>
        <module name="io.fabric8.api"/>
        <module name="io.fabric8.utils"/>
        <module name="org.jboss.gravia"/>
        <module name="org.osgi.enterprise"/>
        <module name="org.osgi.core"/>
        <module name="org.slf4j"/>
    </dependencies>

</module>
