# tone down the ZooKeeper logging

log4j.logger.org.apache.zookeeper.ClientCnxn = ERROR
log4j.logger.org.apache.zookeeper.ClientCnxn$SendThread = ERROR
log4j.logger.org.apache.zookeeper.server.NIOServerCnxnFactory = ERROR
log4j.logger.org.apache.zookeeper.server.NIOServerCnxn  = ERROR
log4j.logger.org.apache.zookeeper.server.ZooKeeperServer = ERROR
log4j.logger.org.apache.zookeeper.server.PrepRequestProcessor = WARN
log4j.logger.org.apache.zookeeper.client.ZooKeeperSaslClient = WARN

# tone down httpclient logging
log4j.logger.httpclient.wire=WARN
log4j.logger.org.apache.commons.httpclient=WARN
