<div>
    <h4>Configuration Admin PID: {{pid}}</h4>

    <table id="configValues" class="table table-hover">
        <tr>
            <th>Key</th><th>Value</th><th></th>
        </tr>


        <tr ng-repeat="(Key, Value) in row">
            <td id="pid.{{Key}}"><strong>{{Key}}</strong></td>
            <td onclick="Osgi.editPidValueCell(this)" class="pid-value">{{Value.Value}}</td>
            <td><button class="btn" ng-click="deletePidProp(this)" title="Delete"><i class="icon-trash"></i></button></td>
        </tr>
    </table>

    <button class="btn btn-primary" ng-click="addPropertyDialog.open()">Add</button>
    <button id="saveButton" class="btn btn-primary" disabled="disabled" ng-click="pidSave()">Save</button>
    <button class="btn btn-danger pull-right" ng-click="deletePidDialog.open()">Delete this Pid</button>

    <div modal="deletePropDialog.show" close="deletePropDialog.close()" options="deletePropDialog.options">
        <form name="deleteProperty" class="form-horizontal no-bottom-margin" ng-submit="deletePidPropConfirmed()">
            <div class="modal-header"><h4>Delete property '{{deleteKey}}'</h4></div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" type="submit" value="Delete">
                <input class="btn btn-primary" ng-click="deletePropDialog.close()" type="button" value="Cancel">
            </div>
        </form>
    </div>

    <div modal="deletePidDialog.show" close="deletePidDialog.close()" options="deletePidDialog.options">
        <form name="deletePid" class="form-horizontal no-bottom-margin" ng-submit="deletePidConfirmed()">
            <div class="modal-header"><h4>Delete this configuration object '{{pid}}'</h4></div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" type="submit" value="Delete">
                <input class="btn btn-primary" ng-click="deletePidDialog.close()" type="button" value="Cancel">
            </div>
        </form>
    </div>

    <div modal="addPropertyDialog.show" close="addPropertyDialog.close()" options="addPropertyDialog.options">
        <form name="addProperty" class="form-horizontal no-bottom-margin" ng-submit="addPropertyConfirmed(addPropKey, addPropValue)">
            <div class="modal-header"><h4>Add property</h4></div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="propKey">Key</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" id="propKey" placeholder="Key" ng-model="addPropKey" />
                        <span class="help-block" ng-hide="addPropKey !== '' && addPropKey !== undefined">A key must be specified</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="propValue">Value</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" id="propValue" placeholder="Value" ng-model="addPropValue" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" ng-disabled="!(addPropKey !== '' && addPropKey !== undefined)" type="submit" value="Add">
                <input class="btn btn-primary" ng-click="addPropertyDialog.close()" type="button" value="Cancel">
            </div>
        </form>
    </div>
</div>