-#
-# Copyright (C) FuseSource, Inc.
-# http://fusesource.com
-#
-# Licensed under the Apache License, Version 2.0 (the "License");
-# you may not use this file except in compliance with the License.
-# You may obtain a copy of the License at
-#
-#    http://www.apache.org/licenses/LICENSE-2.0
-#
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.
-#
!!! Basic
-@ var body: String
-@ var title : String = "Fabric Launcher Web Console"
- response.setContentType("text/html") 
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="description" content="Fabric Launcher Web Console")
    meta(name="keywords" content="Fabric,Launcher,Console")
    meta(name="author" content="Fusesource Corp.")

    / = include("/org/fusesource/scalate/console/console_head.scaml")

    link(href={uri("/css/style.css")} rel="stylesheet" type="text/css")
    / link(href={uri("/css/scalate/console.css")} rel="stylesheet" type="text/css")
    title
      = title
  
  body
    #navigation
      .wrapper
        ul
          li
            -# - if (requestURI.startsWith("/index."))
            -#   span Home
            -# - else
            a(href={uri("/index.scaml")}) Home

    #content
      .wrapper
        !~~ body
    
    #footer
      .wrapper
