@import url(http://fonts.googleapis.com/css?family=Marvel:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  background: #fff;
  color: #333;
}


h1, h2, h3 {
  font-family: "Marvel", "Trebuchet MS", Arial, sans-serif;
}

h2, h3 {
  margin-top: 2em;
  border-bottom: 1px solid #d4d4d4;
}

h4 {
  margin-top: 1.5em;
  font-weight: bold;
}

h2:first-child {
  margin-top: 0;
}

.jumbotron {
  background: none;
}

.jumbotron > .row {
  background: none;
}

.jumbotron .carousel {
  height: 7em;
}

.carousel-caption {
  font-family: 'Source Sans Pro';
  color: #333;
  font-weight: bold;
  text-shadow: none;
}

/* not sure yet where this is coming from */
#main > p {
  display: none;
}

.top-banner {
  height: 110px;
  background-image: url(../images/banner.png);
  background-position: right;
}

.top-banner-logo {
  display: block;
}

.top-banner-logo > img {
  height: 110px;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.navbar-default {
  background: inherit;
  border: none;
}

.navbar > .container .navbar-brand,
.navbar-brand {
  padding: 8px 0 0 8px; 
  margin-left: 0;
}

.link-top {
  margin-bottom: 2em;
}

.footer {
  margin-top: 2em;
  background: #ddd;
  padding-bottom: 2em;
}


/*
.navbar-brand {
  font-family: "Marvel", "Trebuchet MS", Arial, sans-serif;
  font-size: 1.7em;
  line-height: .8em;
  text-transform: lowercase;
}

.navbar-brand > img {
  display: block;
  float: left;
}
*/

.top-bar {
  font-family: "Marvel", "Trebuchet MS", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.top-bar {
  margin-bottom: 0;
}

.top-bar > container > row:after {
  display: block;
  height: 1em;
  background: #eee;
  width: 100%;
}

/*
.top-bar .nav li a {
  font-weight: bold;
}
*/

.top-bar .plusone, .top-bar .g-plusone-slot {
  display: block;
  float: right;
  margin-top: 7px;
  margin-right: 5px;
}

/*
@media (min-width: 980px) {

  .top-bar .navbar-inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 64px;
  }

  .navbar-brand {
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 5px;
    font-size: 2.2em;
    line-height: 1em;
    -webkit-transition: color 0.8s ease;
    -webkit-transition-delay: 0.05s;
    -moz-transition: color 0.8s ease 0.05s;
    -o-transition: color 0.8s ease 0.05s;
    transition: color 0.8s ease 0.05s;
  }

  .top-bar .g-plusone-slot {
    display: block;
    float: right;
    margin-top: 21px;
    margin-right: 0;
  }
}
*/

/*
.btn-primary {
  background-color: #f7600f;
  background-image: -moz-linear-gradient(top, #B55242, #f7830f);
  background-image: -ms-linear-gradient(top, #B55242, #f7830f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B55242), to(#f7830f));
  background-image: -webkit-linear-gradient(top, #B55242, #f7830f);
  background-image: -o-linear-gradient(top, #B55242, #f7830f);
  background-image: linear-gradient(top, #B55242, #f7830f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB55242', endColorstr='#FFF7830F', GradientType=0);
  border-color: #f7830f #f7830f #b45d06;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #f7830f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #f7830f;
  *background-color: #e57608;
}
.btn-primary:active, .btn-primary.active {
  background-color: #cc6a07 \9;
}
*/
