@import url(http://fonts.googleapis.com/css?family=Marvel:400,700);
@import url(http://fonts.googleapis.com/css?family=Jura:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#ajbossproject {
  font-family: 'Open Sans';
  font-size: smaller;
  font-weight: bold;
  line-height: 20px;
}


body {
  font-family: 'Open Sans';
  font-size: 16px;
  background: #fff;
  color: #333;
}


h1, h2, h3 {
  font-family: "Jura", sans-serif;
}

h2, h3 {
  margin-top: 2em;
  border-bottom: 1px solid #d4d4d4;
}

h4 {
  margin-top: 1.5em;
  font-weight: bold;
}

h2:first-child {
  margin-top: 0;
}

.community h2:first-child {
  margin-top: 2em;
}

.jumbotron {
  background: none;
}

/* not sure yet where this is coming from */
#main > p {
  display: none;
}

.top-banner {
  height: 312px;
  background: url(../images/banner.jpg) left;
  position: relative;
}

.top-banner .jumbotron {
  padding-top: 20px;
}

.top-banner-logo > img {
  height: 200px;
  margin: 0 auto;
}

.navbar-header {
  border-bottom: 1px solid #d4d4d4;
}

.logo-brand {
  display: block;
  height: 35px;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.navbar-default {
  background: inherit;
  border: none;
}

.navbar > .container .navbar-brand,
.navbar-brand {
  padding: 8px 0 0 8px; 
  margin-left: 0;
}

.top-bar .navbar-collapse {
  text-align: center;
}

.top-bar .navbar-collapse > .nav.navbar-nav {
  float: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.link-top {
  margin-bottom: 2em;
}

.footer {
  margin-top: 2em;
  background: #ddd;
  padding-bottom: 2em;
}


/*
.navbar-brand {
  font-family: "Marvel", "Trebuchet MS", Arial, sans-serif;
  font-size: 1.7em;
  line-height: .8em;
  text-transform: lowercase;
}

.navbar-brand > img {
  display: block;
  float: left;
}
*/

.top-bar {
  font-family: "Jura", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.top-bar {
  margin-bottom: 0;
}

.top-bar > container > row:after {
  display: block;
  height: 1em;
  background: #eee;
  width: 100%;
}

/*
.top-bar .nav li a {
  font-weight: bold;
}
*/

.top-bar .plusone, .top-bar .g-plusone-slot {
  display: block;
  float: right;
  margin-top: 7px;
  margin-right: 5px;
}


.btn-huge {
  font-size: 30px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

table.services {
  background-color: #f9f9f9;
}

table.services td {
  border-bottom: 1px solid #ddd;
}

img.logo {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  vertical-align: top;
}

td.icon-column {
  width: 190px;
}

td.icon-desc-column {
  width: 380px;
  padding-right: 25px !important;
}

