# Fuse BAI configuration
# ======================
#
# This is only used if the bai feature is installed.
# see: http://fuse.fusesource.org/eip/bai.html
#
# eventType = (created|completed|sending|sent|failure|redelivery|*)
# camelContextPattern = bundleSymbolicNamePattern[:camelContextIdPattern]
# patterns support * for matching any characters and prefixed ! for not match

# camelContext.exclude = camelContextPattern
camelContext.exclude = *:audit-*

# event.eventType.camelContextPattern = (true|false)
event.sent.dummyBundle = false

# exchange.filter.eventType.language.camelContextPattern = expression
exchange.filter.sent.simple.* = in.header.foo == 'bad'

# endpoint.regex.eventType = regex
endpoint.regex.sent.* = timer.*

