# Fuse BAI configuration
# ======================
#
# This is only used if the bai feature is installed.
# see: http://fuse.fusesource.org/eip/bai.html
#

camelContext.exclude = *:audit-*

event.sent.dummyBundle = false

endpoint.regex.sent.* = timer.*

exchange.filter.sent.simple.* = ${in.header.foo} == 'bad'
