<div ng-controller="DashCtrl">


  <!--
  <div ng-repeat='alert in global_alert' class="alert alert-{{alert.severity}} span12" style="position: fixed;top:2px;opacity:0.9;z-index:8000">
    <button type="button" class="close" ng-click="clear_alert(alert)">&times;</button>
    <strong>{{alert.title}}</strong> <span ng-bind-html-unsafe='alert.text'></span> <div class='pull-right small'> {{$index + 1}} alert(s) </div>
  </div>

  <ul class="nav nav-tabs connected">
    <li ng-repeat="nav in topLevelDashboards()" ng-class="{active : isActive('#/kibana3/dashboard/file/' + nav.file)}" ng-show="nav.isVisible()">
      <a ng-href="{{'#/kibana3/dashboard/file/' + nav.file}}" title="{{nav.title}}" data-placement="bottom" ng-bind="nav.content">
      </a>
    </li>
  </ul>
  -->

  <div class="row-fluid">
    <div class="span12">
       <div ng-include="'/kibana3/partials/dashboard.html'"></div>
    </div>
  </div>


</div>
