a.brand(href={uri("/fabric/index")}) Fuse Fabric
- include("/_projects.jade")
ul.nav
  li
    a(href={uri("/fabric/download.html")}) Download
  li
    a(href={uri("/fabric/docs/index.html")}) Documentation
  li
    a(href={uri("/presentations.html")}) Presentations
  li
    a(href={uri("/source.html")}) Source
  li
    a(href={uri("/community.html")}) Community
  li
    a(href={uri("/fabric/support.html")}) Support
