<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">

    <description>Fuse Fabric Web Agent</description>

    <display-name>fuse fabric web agent</display-name>

    <servlet>
        <servlet-name>jolokia-agent</servlet-name>
        <servlet-class>org.jolokia.http.AgentServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jolokia-agent</servlet-name>
        <url-pattern>/jolokia/*</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>org.apache.aries.blueprint.web.BlueprintContextListener</listener-class>
    </listener>

<!--
    <context-param>
        <param-name>blueprintProperties</param-name>
        <param-value>blueprint.properties</param-value>
    </context-param>
-->
    <context-param>
        <param-name>blueprintLocation</param-name>
        <param-value>OSGI-INF/blueprint/blueprint.xml</param-value>
    </context-param>

</web-app>

