<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="io.fabric8.git">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="fabric-git-@project.version@.jar"/>
        <resource-root path="org.apache.servicemix.bundles.jsch-@jsch.version@.jar"/>
        <resource-root path="org.eclipse.jgit-@jgit.version@.jar"/>
    </resources>

    <exports>
        <exclude path="org/apache/felix/utils/**"/>
    </exports>

    <dependencies>
        <module name="javax.api"/>
        <module name="com.google.guava"/>
        <module name="io.fabric8.api"/>
        <module name="io.fabric8.core"/>
        <module name="io.fabric8.groups"/>
        <module name="io.fabric8.zookeeper"/>
        <module name="org.osgi.enterprise"/>
        <module name="org.osgi.core"/>
        <module name="org.slf4j"/>
    </dependencies>

</module>
