.dropup {
  background-image: url("//static.jboss.org/common/images/tabzilla/tabzilla-redhat-logo-sprite.png") !important;
}

#tab:after {
  background: url("//static.jboss.org/common/images/arrow-tabnav-down.png") repeat scroll 0 0 transparent !important;
}

@media (max-width: 767px) {
  .dropup {
    background-image: url("//static.jboss.org/common/images/tabzilla/tabzilla-redhat-logo-sprite.png") !important;
  }
}
