a.brand(href={uri("/eip/index")}) Fuse EIP
ul.nav
  li
    a(href={uri("/eip/faq.html")}) FAQ
  li
    a(href={uri("/eca/index")}) ECA
  li
    a(href={uri("/eip/c24io.html")}) C24
- include("/_projects.jade")