- ###

 Copyright 2010 Red Hat, Inc.

 Red Hat licenses this file to you under the Apache License, version
 2.0 (the "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 implied.  See the License for the specific language governing
 permissions and limitations under the License.

- ###
.container
  section#broker
    .row
      .span16.breadcrumbs
        a(href="#/cloud") Cloud / Add Provider
    .row
      .span16
        .block.left
        .block.right
    .row
      .span8
        h4 Select a cloud provider
        .provider-list.nav_buttons
      .span8
        h4 Enter the login details and options for your cloud provider
        form
          fieldset
            .clearfix#name
              label(for="name") Name
              .input
                input(name="service-id" type="text")
                span.help-block#name-help
            .clearfix#identity
              label(for="identity") Identity
              .input
                input(name="identity" type="text")
                span.help-block#identity-help
            .clearfix#credential
              label(for="credential") Credential
              .input
                input(name="credential" type="password")
                span.help-block#credential-help
            .clearfix#endpoint
              label(for="endpoint") Endpoint
              .input
                input(name="endpoint" type="text")
                span.help-block#endpoint-help
            .clearfix#options
              label(for="options") Options
              .input
                textarea(id="cloud-options" name="options" rows"9")
                span.help-block#options-help

