- ###

 Copyright 2010 Red Hat, Inc.

 Red Hat licenses this file to you under the Apache License, version
 2.0 (the "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 implied.  See the License for the specific language governing
 permissions and limitations under the License.

- ###
.container
  section#broker
    .row
      .span16.breadcrumbs
        a(href="#/versions") Profiles
    .row
      .span16
        .block.left
          a.create-version.btn(href="#") Create Version
          a.import-version.btn(href="#") Import Version
          a.export.btn("#") Export Selected Version
        .block.right
          a.create-profile.btn(href="#") Create Profile
          a.import-profile.btn(href="#") Import Profile
    .row
      .span8
        h4.block.center Versions
        .versions.nav_buttons
      .span8
        h4.block.center Profiles
        .profiles.nav_buttons


