-#   Copyright (C) 2010 FuseSource, Corp. All rights reserved.
-#   http://fusesource.com
-#
-#   The software in this package is published under the terms of the AGPL license
-#    a copy of which has been included with this distribution in the license.txt file.

- response.setContentType("text/html") 
-@ var title : String = ""
-@ var body: String = null
-@ var overview: String = null
-@ var spot: String = null
-@ var blog: String = null
-@ var head: String = null
- val include_console = engine.isDevelopmentMode && engine.resourceLoader.exists("/org/fusesource/scalate/console/console_head.scaml")
!!! Basic
html(lang="en")
  head
    meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    meta(content="fuse fabric clustering and cloud for Fuse" name="description")
    meta(content="fuse,fabric,cluster,cloud,provision,configure" name="keywords")
    meta(content="Fabric" name="author")
    link(type="text/css" rel="stylesheet" href={uri("/styles/impact/css/pygmentize.css")})
    link(type="text/css" rel="stylesheet" href={uri("/styles/impact/css/site.css")})

    - if (head!=null)
      !~~ head

    -#
      - if (include_console)
        - include("/org/fusesource/scalate/console/console_head.scaml")
        link(href={uri("/styles/scalate/console.css")} rel="stylesheet" type="text/css")
    
    title= title
  body
    div#navigation
      div.wrapper
        - include("/_navigation.ssp.md")
        
    - if (overview!=null)
      div#overview
        div.wrapper
          -if ( project_logo!=null )  
            div.logo
              img(src="#{uri(project_logo)}" alt="#{project_name} logo")
          div.message
            !~~ overview
            
    - if (spot!=null)
      div#spot
        div.wrapper
          !~~ spot
          
    - if (body!=null)
      div#content
        div.wrapper
          !~~ body
          
    - if (blog!=null)
      div#blog
        div.wrapper
          !~~ blog
          
    -#
      - if (include_console)
        = include("/org/fusesource/scalate/console/console.scaml")

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script> 
      <script type="text/javascript"> 
      try {
      var pageTracker = _gat._getTracker("UA-1347593-12");
      pageTracker._trackPageview();
      } catch(err) {}