#
# Copyright (C) 2010-2011, FuseSource Corp.  All rights reserved.
#
#     http://fusesource.com
#
# The software in this package is published under the terms of the
# CDDL license a copy of which has been included with this distribution
# in the license.txt file.
#

#
# This configuration file is used to configure the default values for features OBR resolver
#

#
# Defines whether or not the features OBR resolver has to resolve optional imports as well.  The default value is
# false (do not attempt to resolve optional imports).
#
resolveOptionalImports = true
