#
# Copyright (C) 2010-2011, FuseSource Corp.  All rights reserved.
#
#     http://fusesource.com
#
# The software in this package is published under the terms of the
# CDDL license a copy of which has been included with this distribution
# in the license.txt file.
#

# When using a forced shutdown of a SA, all pending synchronous exchanges will be canceled after this timeout
# The value is specified in ms, the default value of 0 will wait indefinitely for all exchanges to finish
shutdownTimeout=0

# The values below can be used to configure the thread pool size for the ServiceMix JBI components.
# - corePoolSize defines the core thread pool size (default is 4)
# - maximumPoolSize defines the maximum thread pool size, -1 means an unbounded thread pool size (default is -1)
# - queueSize defines the executor queue size (default is 1024)
# - allowCoreThreadTimeOut allows the core threads to timeout (defaults to true)
# - keepAliveTime is the amount of milliseconds a thread is kept alive when idle (defaults to 60000)
corePoolSize=4
maximumPoolSize=-1
queueSize=1024
allowCoreThreadTimeOut=true
keepAliveTime=60000
