<!-- TODO Should we split this page into partials, and just just allow plugins to register their configurable preferences to this page? -->
<div ng-controller="Core.PreferencesController" class="prefs">

<div class="row-fluid">

<div class="tabbable" ng-model="pref">

<div value="core-preference" class="tab-pane" title="Core">
  <form class="form-horizontal">

    <div class="control-group">
      <label class="control-label">Welcome Page</label>

      <div class="controls">
        <input type="checkbox" ng-model="showWelcomePage">
        <span class="help-block">Show welcome page on startup</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="updateRate">Update Rate</label>

      <div class="controls">
        <select id="updateRate" ng-model="updateRate">
          <option value="0">No refreshes</option>
          <option value="1000">1 second</option>
          <option value="2000">2 seconds</option>
          <option value="5000">5 seconds</option>
          <option value="10000">10 seconds</option>
          <option value="30000">30 seconds</option>
        </select>
        <span class="help-block">How frequently the data is updated in the browser
          <br/><i class='yellow text-shadowed icon-warning-sign'></i> <strong>Note:</strong> Setting this to "No Refreshes" will disable charting, as charting requires fetching periodic metric updates.
        </span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Host Identification</label>

      <div class="controls">
        <button class="btn" ng-click="addRegexDialog.open()" title="Add Regex"><i class="icon-plus"></i></button>
        <table ng-show="hosts.length">
          <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Regex</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat='host in hosts'>
            <td>
              <i class="icon-remove clickable" ng-click="delete($index)"></i>
              <i class="icon-caret-up clickable" ng-hide="$first" ng-click="moveUp($index)"></i>
              <i class="icon-caret-down clickable" ng-hide="$last" ng-click="moveDown($index)"></i>
            </td>
            <td>
              <editable-property class="inline-block" ng-model="host" property="name"></editable-property>
            </td>
            <td>
              <editable-property class="inline-block" ng-model="host" property="regex"></editable-property>
            </td>
            <td>
              <div hawtio-color-picker='host.color'></div>
            </td>
          </tr>
          </tbody>
        </table>


        <div modal="addRegexDialog.show" ok-button-text="Add">
          <div class="modal-header"><h4>Add Host Regex</h4></div>
          <div class="modal-body dialog-body">
            <div simple-form name="hostRegexForm" data='hostSchema' entity='newHost' onSubmit="onOk()">
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger"
                    ng-click="addRegexDialog.close()">
              <i class="icon-remove"></i> Cancel
            </button>
            <button class="btn btn-primary"
                    hawtio-submit="hostRegexForm"
                    ng-disabled="!forms.hostRegexForm.$valid">
              <i class="icon-plus"></i> Add
            </button>
          </div>
        </div>


        <span class="help-block">For associating a label and colour in the bottom left indicator when connecting to different containers</span>
      </div>
    </div>

  </form>
</div>

<div value="core-plugins" class="tab-pane" title="Plugins">
  <form class="form-horizontal">

    <div class="control-group">
      <label class="control-label">Perspective</label>

      <div class="controls">
        <select ng-model="perspectiveId" required="required" ng-options="p.id as p.title for p in perspectives">
        </select>
        <span class="help-block">Configure plugins in selected perspective<br/><br/>Click icon to toggle state on the plugin, and click the apply button to save changes.</span>
      </div>
    </div>
    <div class="control-group">

      <div class="span6">

        <div class="controls">
          <div>
            <table class="table table-condensed table-striped">
              <tr>
                <th><i class="icon-double-angle-down"></i>/<i class="icon-double-angle-up"></i></th>
                <th>Plugin</th>
                <th>Enabled</th>
                <th>Default</th>
              </tr>
              <tr ng-repeat="plugin in plugins">
                <td>
                  <i class="icon-double-angle-up clickable" ng-hide="$first" ng-click="pluginMoveUp($index)"
                     title="Click to move this plugin up in the navigation bar"></i>
                  <i class="icon-double-angle-down clickable" ng-hide="$last" ng-click="pluginMoveDown($index)"
                     title="Click to move this plugin down in the navigation bar"></i>
                </td>
                <td title="This is the name of the plugin">
                  {{plugin.displayName}}
                </td>
                <td>
                  <i class="orange icon-off clickable" ng-hide="plugin.enabled" ng-click="pluginEnable($index)"
                     title="This plugin is disabled and not available on the navigation bar"></i>
                  <i class="green icon-play-circle clickable" ng-hide="!plugin.enabled" ng-click="pluginDisable($index)"
                     title="This plugin is enabled"></i>
                </td>
                <td>
                  <i class="icon-check-empty clickable" ng-hide="plugin.isDefault" ng-click="pluginDefault($index)"
                     title="Click to select this plugin as the default plugin to use on startup"></i>
                  <i class="icon-check clickable" ng-hide="!plugin.isDefault" ng-click="pluginDefault($index)"
                     title="This is the default plugin"></i>
                </td>
              </tr>
            </table>
            <button class="btn btn-primary" ng-disabled="!pluginDirty" ng-click="pluginApply()">Apply plugin changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Auto Refresh</label>

      <div class="controls">
        <input type="checkbox" ng-model="autoRefresh">
        <span class="help-block">Automatically refresh the app when a plugin is updated</span>
      </div>
    </div>

  </form>
</div>

<div value="loggingConsole" class="tab-pane" title="Logging Console">
  <form class="form-horizontal">

    <div class="control-group">
      <label class="control-label" for="logLevel">Log Level</label>

      <div class="controls">
        <select id="logLevel" ng-model="localStorage.logLevel">
          <option value='{"value": 99, "name": "OFF"}'>Off</option>
          <option value='{"value": 8, "name": "ERROR"}'>Error</option>
          <option value='{"value": 4, "name": "WARN"}'>Warn</option>
          <option value='{"value": 2, "name": "INFO"}'>Info</option>
          <option value='{"value": 1, "name": "DEBUG"}'>Debug</option>
        </select>
        <span class="help-block">Level of logging for the logging console (<i class='icon-desktop'></i>)</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="logBuffer">Log Buffer</label>

      <div class="controls">
        <input type="number" id="logBuffer" ng-model="logBuffer">
        <span class="help-block">The number of log statements to keep available in the logging console (<i
            class='icon-desktop'></i>)</span>
      </div>
    </div>

  </form>
</div>

<div value="editor" class="tab-pane" title="Editor">
  <!-- TODO Split into its file and include as a partial -->
  <div ng-controller="CodeEditor.PreferencesController">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="theme" title="The default theme to be used by the code editor">Theme</label>

        <div class="controls">
          <select id="theme" ng-model="preferences.theme">
            <option value="default">Default</option>
            <option value="ambiance">Ambiance</option>
            <option value="blackboard">Blackboard</option>
            <option value="cobalt">Cobalt</option>
            <option value="eclipse">Eclipse</option>
            <option value="monokai">Monokai</option>
            <option value="neat">Neat</option>
            <option value="twilight">Twilight</option>
            <option value="vibrant-ink">Vibrant Ink</option>
          </select>
        </div>
      </div>
    </form>

    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="tabSIze">Tab Size</label>

        <div class="controls">
          <input type="text" id="tabSize" name="tabSize" ng-model="preferences.tabSize"/>
        </div>
      </div>
    </form>

    <div compile="codeMirrorEx"></div>
  </div>
</div>

<div value="logs" class="tab-pane" title="Logs">

  <form class="form-horizontal">
    <label class="control-label">Sort Ascending</label>
    <div class="control-group">
      <div class="controls">
        <input type="checkbox" ng-model="logSortAsc">
        <span class="help-block">Ascending inserts new log lines in the bottom, descending inserts new log lines in the top</span>
      </div>
    </div>
  </form>

  <form class="form-horizontal">
    <label class="control-label">Auto Scroll</label>
    <div class="control-group">
      <div class="controls">
        <input type="checkbox" ng-model="logAutoScroll">
        <span class="help-block">Whether to automatic scroll window when new log lines is added</span>
      </div>
    </div>
  </form>

  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="logCacheSize" title="The number of log messages to keep in the browser">Log
        cache size</label>
      <div class="controls">
        <input id="logCacheSize" type="number" ng-model="logCacheSize"/>
      </div>
    </div>

  </form>
</div>

<div value="git" class="tab-pane" title="Git">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="gitUserName"
             title="The user name to be used when making changes to files with the source control system">User
        Name</label>

      <div class="controls">
        <input id="gitUserName" type="text" placeholder="username" ng-model="gitUserName"  autofill/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="gitUserEmail"
             title="The email address to use when making changes to files with the source control system">Email
        address</label>

      <div class="controls">
        <input id="gitUserEmail" type="email" placeholder="email" ng-model="gitUserEmail"/>
      </div>
    </div>
  </form>
</div>

<div value="activemq" class="tab-pane" title="ActiveMQ">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="activemqUserName"
             title="The user name to be used when connecting to the broker">User Name</label>

      <div class="controls">
        <input id="activemqUserName" type="text" placeholder="username" ng-model="activemqUserName" autofill/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="activemqPassword" title="Password to be used when connecting to the broker">Password</label>

      <div class="controls">
        <input id="activemqPassword" type="password" placeholder="password" ng-model="activemqPassword" autofill/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Filter Advisory Topics</label>

      <div class="controls">
        <input type="checkbox" ng-model="activemqFilterAdvisoryTopics">
        <span class="help-block">Whether to exclude advisory topics in tree/table</span>
      </div>

    </div>

    <div class="control-group">
      <label class="control-label" for="byteMessages">Browse Byte Messages</label>

      <div class="controls">
        <select id="byteMessages" ng-model="localStorage.activemqBrowseBytesMessages">
          <option value='99'>Off</option>
          <option value='8'>Decimal</option>
          <option value='4'>Hex</option>
          <option value='2'>Decimal and Text</option>
          <option value='1'>Hex and Text</option>
        </select>
        <span class="help-block">Browsing byte messages should display the message body as</span>
      </div>
    </div>

  </form>
</div>

<div value="camel" class="tab-pane" title="Camel">
  <form class="form-horizontal">
    <label class="control-label">Maximum body length</label>

    <div class="control-group">
      <div class="controls">
        <input type="number" ng-model="camelMaximumTraceOrDebugBodyLength">
        <span class="help-block">The maximum length of the body before its clipped when using the tracer and debugger</span>
      </div>
    </div>
    <label class="control-label">Maximum label length</label>

    <div class="control-group">
      <div class="controls">
        <input type="number" ng-model="camelMaximumLabelWidth">
        <span class="help-block">The maximum length of a label in Camel diagrams before it is clipped</span>
      </div>
    </div>
    <label class="control-label">Do not use ID for label</label>

    <div class="control-group">
      <div class="controls">
        <input type="checkbox" ng-model="camelIgnoreIdForLabel">
        <span class="help-block">If enabled then we will ignore the ID value when viewing a pattern in a Camel diagram; otherwise we will use the ID value as the label (the tooltip will show the actual detail)</span>
      </div>
    </div>
  </form>
</div>

<div value="jvm" class="tab-pane" title="Connect">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label">
          <strong>
            <i class='yellow text-shadowed icon-warning-sign'></i> Clear Saved Connections
          </strong>
        </label>
        <div class="controls">
          <button class="btn btn-danger" ng-click="doClearConnectSettings()">Clear Saved Connections</button>
          <span class="help-block">Wipe all saved connection settings stored by {{branding.appName}} in your browser's local storage</span>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div value="fabric" class="tab-pane" title="Fabric">
  <form class="form-horizontal">
    <label class="control-label">Always Prompt for User/Password</label>
    <div class="control-group">
      <div class="controls">
        <input type="checkbox" ng-model="fabricAlwaysPrompt">
        <span class="help-block">Always prompt for the user/password dialog whenever trying to connect to a remote JVM in the console</span>
      </div>
    </div>
  </form>

  <form class="form-horizontal">
    <label class="control-label">Enable Maps</label>
    <div class="control-group">
      <div class="controls">
        <input type="checkbox" ng-model="fabricEnableMaps">
        <span class="help-block">Enable the "Map" tab in Fabric view (<i class='yellow text-shadowed icon-warning-sign'></i> <strong>Note:</strong> requires network access to maps.google.com)</span>
      </div>
    </div>
  </form>
</div>

<div value="reset" class="tab-pane" title="Reset">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label">
          <strong>
            <i class='yellow text-shadowed icon-warning-sign'></i> Reset Settings
          </strong>
        </label>
        <div class="controls">
          <button class="btn btn-danger" ng-click="doReset()">Reset to Defaults</button>
          <span class="help-block">Wipe settings stored by {{branding.appName}} in your browser's local storage</span>
        </div>
      </div>
    </fieldset>
  </form>
</div>


</div>
</div>

<script type="text/ng-template" id="exampleText">
  var foo = "World!";

  var myObject = {
  message: "Hello",
  getMessage: function() {
  return message + " ";
  }
  };

  window.alert(myObject.getMessage() + foo);
</script>

<script type="text/ng-template" id="codeMirrorExTemplate">
  <div hawtio-editor="exampleText" mode="javascript"></div>
</script>
</div>
<script type="text/javascript" src="lib/cssHelperNav.js"></script>
