- ###

 Copyright 2010 Red Hat, Inc.

 Red Hat licenses this file to you under the Apache License, version
 2.0 (the "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 implied.  See the License for the specific language governing
 permissions and limitations under the License.

- ###
legend Cloud Service Configuration
.clearfix#provider
  label(for="provider") Cloud Provider
  .input
    select(name="provider" class="provider" style="width: 260px")

.clearfix#instance-type
  label(for="instance-type") Instance Type
  .input
    select(name="instance-type")
      option(value="Smallest" selected="true") Smallest
      option(value="Biggest") Biggest
      option(value="Fastest") Fastest
      option(value="Custom") Custom...
    span.help-block#instance-type-help

.clearfix#hardware-id.hide
  label(for="hardware-id") Hardware ID
  .input
    | <input name="hardware-id" type="text" class="hardware-id">
    span.help-block#hardware-id-help

.clearfix#type-selection
  label Instance Selection
  .input
    ul.inputs-list
      li
        label
          input(type="radio" name="type-selection" value="by-os")
          span Specify OS and Version
      li
        label
          input(type="radio" name="type-selection" value="by-image")
          span Specify Image ID and Location

