- ###

 Copyright 2010 Red Hat, Inc.

 Red Hat licenses this file to you under the Apache License, version
 2.0 (the "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 implied.  See the License for the specific language governing
 permissions and limitations under the License.

- ###
legend SSH Server Configuration
.clearfix#hostname
  label(for="hostname") Hostname:
  .input
    | <input name="hostname" type="text" class="span4">
    span.help-block#hostname-help
.clearfix#port
  label(for="port") Port:
  .input
    | <input name="port" type="text" class="span1" value="22">
    span.help-block#port-help
.clearfix#user
  label(for="user") Username:
  .input
    | <input name="user" type="text" class="span4">
    span.help-block#user-help
.clearfix
  label(for="pk-file") Private Key File:
  .input
    .input-prepend
      label.add-on
        | <input type="checkbox" name="use-pk-file">
      | <input class="" name="pk-file" type="text" disabled>
      - # a.browse.btn(href="#" style="vertical-align: top;") Browse...
      span.help-block
        | If checked, use a private key file instead of password authentication    
.clearfix#password
  label(for="password") Password:
  .input
    | <input name="password" type="password" class="span4">
    span.help-block#password-help


