a.brand(href={uri("/mq/index")}) Fuse MQ
ul.nav
  li
    a(href={uri("/mq/faq")}) FAQ
  li
    a(href={uri("/mq/docs/getting-started.html")}) Getting Started
  li
    a(href={uri("/fabric/docs/mq.html")}) Documentation
  li
    a(href={uri("docs/leveldb.html")}) LevelDB
  li
    a(href={uri("/mq/download.html")}) Download
  li
    a(href={uri("http://fusesource.com/products/fuse-mq-enterprise/")} title="Enterprise version of Fuse MQ") Fuse MQ Enterprise

- include("/_projects.jade")