a.brand(href={uri("/mq/index")}) Fuse MQ
ul.nav
  li
    a(href={uri("/mq/download.html")}) Download
  li
    a(href={uri("docs/index.html")}) Documentation
  li
    a(href={uri("../presentations.html")}) Presentations
  li
    a(href={uri("http://fusesource.com/products/fuse-mq-enterprise/")} title="Enterprise version of Fuse MQ") Fuse MQ Enterprise

- include("/_projects.jade")