<!--
  ~ Copyright 2010 Red Hat, Inc.
  ~
  ~  Red Hat licenses this file to you under the Apache License, version
  ~  2.0 (the "License"); you may not use this file except in compliance
  ~  with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~  implied.  See the License for the specific language governing
  ~  permissions and limitations under the License.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Fuse Console REST</display-name>

    <listener>
      <listener-class>io.fabric8.webui.ContextListener</listener-class>
    </listener>

    <filter>
      <filter-name>Jersey Filter</filter-name>
      <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>

      <init-param>
        <param-name>com.sun.jersey.config.feature.Trace</param-name>
        <param-value>false</param-value>
      </init-param>
      <init-param>
        <param-name>com.sun.jersey.config.feature.Redirect</param-name>
        <param-value>true</param-value>
      </init-param>
      <init-param>
          <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
          <param-value>
              io.fabric8.webui.HiddenHttpMethodFilter
              io.fabric8.webui.system.AuthenticationFilter
              <!--com.sun.jersey.api.container.filter.LoggingFilter-->
          </param-value>
      </init-param>
      <init-param>
          <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
          <param-value>
            io.fabric8.webui.CacheControlResponseFilter
            <!-- com.sun.jersey.api.container.filter.LoggingFilter -->
          </param-value>
      </init-param>
      <!--
      <init-param>
        <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
        <param-value>io.fabric8.webui.FonResourceConfig</param-value>
      </init-param>-->
      <init-param>
        <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
        <param-value>com.sun.jersey.api.core.ClassNamesResourceConfig</param-value>
      </init-param>
      <init-param>
        <param-name>com.sun.jersey.config.property.MediaTypeMappings</param-name>
        <param-value>json : application/json</param-value>
      </init-param>
      <init-param>
          <param-name>com.sun.jersey.config.property.classnames</param-name>
          <param-value>
              io.fabric8.webui.InputStreamProvider
              io.fabric8.webui.JsonProvider
              io.fabric8.webui.agents.AgentsResource
              io.fabric8.webui.jclouds.ComputeProvidersResource
              io.fabric8.webui.jclouds.ComputeServicesResource
              io.fabric8.webui.profile.VersionsResource
              io.fabric8.webui.patching.PatchResource
              io.fabric8.webui.patching.PatchFilesResource
              io.fabric8.webui.patching.VersionPatchResource
              io.fabric8.webui.patching.UpgradeResource
              io.fabric8.webui.patching.ProfileUpgradeResource
              io.fabric8.webui.patching.VersionUpgradeResource
              io.fabric8.webui.patching.MavenArtifactResource
              io.fabric8.webui.log.LogResource
              io.fabric8.webui.zookeeper.ZooKeeperResource
              io.fabric8.webui.system.SystemResource
              io.fabric8.webui.users.UsersResource
          </param-value>
      </init-param>
        <!--
      <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>io.fabric8.webui.osgi</param-value>
      </init-param>
      -->

      <init-param>
        <param-name>com.sun.jersey.config.feature.FilterForwardOn404</param-name>
        <param-value>true</param-value>
      </init-param>
    </filter>

    <filter-mapping>
      <filter-name>Jersey Filter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>

