<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.fusesource.fabric.groups">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="fabric-groups-@project.version@.jar"/>
    </resources>

    <dependencies>
        <module name="com.google.guava"/>
        <module name="org.codehaus.jackson.jackson-mapper-asl"/>
        <module name="org.fusesource.fabric.zookeeper"/>
        <module name="org.slf4j"/>
    </dependencies>

</module>
